@inherits LayoutComponentBase

<div class="empty-layout">
    <div class="empty-content">
        @Body
    </div>
</div>

<style>
    .empty-layout {
        min-height: 100vh;
        position: relative;
    }
    
    .empty-content {
        min-height: 100vh;
    }
</style>