# Ignore Visual Studio temporary files
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
project.lock.json
artifacts/
packages/
Thumbs.db
Desktop.ini
.DS_Store
*.apk
*.aab
*.keystore
*.jks
*.ipa
*.app
*.binlog
*.cache
*.log
*.tmp
*.temp
*.pdb
*.db
*.db-journal
.idea/
.vscode/
